body {
    background-color: #F8F1AE;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 1020px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 12px 0.5px;
    text-align: center;
    font-size: 1.3em;
    border: 1px solid gainsboro;
    color: teal;
    font-family: inherit;
}

.loginbtn {
    background-color: #6769F1;
    border: none;
    font-weight: bold;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.logoutbtn {
    position: relative;
    left: 45.5%;
}

.druckbtn {
    position: right;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #6769F1;
    color: white;
}

.th {
    text-decoration: none;
    color: white;
}

.td {
    font-size: 20px;
    text-decoration: none;
    color: teal;
    width: 550px;
    table-layout: fixed;
}

form input {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


h1 {
    font-size: 30px;
    margin: 10px;
    margin-top: 0;
}

h2 {
    font-size: 25px;
    margin: 10px;
    margin-top: 0;
}

.aktion {
    text-decoration: none;
    color: teal;
}

.eingabe {
    margin-left: 65px;
}

.eingaben {
    margin-top: 5px;
}

.abstand {
    margin-bottom: 5px;
    display: block;
}

.abstandlogin {
    margin-left: 5px;
}

.textfield {
    width: 25%;
    padding: 8px 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

.textfield2 {
    width: 25%;
    padding: 8px 10px;
    box-sizing: border-box;
    vertical-align: middle;
    visibility: hidden;
}

input[type=date].textfield {
    padding: 5px 10px;
}

.backbtn {
    float: left;
}

#pwabstand {
    margin-bottom: 5px;
    display: block;
}
