* {
	font-family: Helvetica;
	font-size: 26px;
}
#header {
	margin-top: 2em;
}
h2 {
	margin: 0;
	display: inline-block;
}
#date {
	float: right;
}
table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border: 1px solid black;
}
th, td {
	border: 1px solid lightgrey;
	padding: 5px;
}
th {
	background: lightgrey;
}
hr {
	border: 1px solid black;
	margin: 2px 0 40px;
}
th:not(:nth-child(3)) {
	width: 10%;
}